/*
Global styles:

Colours:
Peach - #f46c63 (MAIN COLOUR)
Dark peach - #A83C34
Blue - #0D6Efd
Grey - #445a64 - grey for text
Lighter grey - #809599

Fonts:
Logo font - Alfa Slab
Headings - Gills sans
Paragraphs - Raleway - 18px
*/

/*******************
GLOBAL STYLES
********************/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

p{
  /* font-family: 'Calibri'; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: #445a64;
  font-size: 18px;
  /* font-weight: 100; */
}

body{
  background-color: #fafafa;
}

td{
  word-wrap:break-word;
}


/* Nav Bar */
.navbar{
  background-color: #f46c63;
}

.nav-brand{
  font-weight: bolder;
}

.custom-button, /* Blue Button */
.custom-button2{ /* Peach Button */
  width: 250px;
  height: 55px;
  border-radius: 50px;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.custom-button:hover, /* Blue Button Hover */
.custom-button2:hover{ /* Peach Button Hover */
  background-color: white;
  border: 1px solid #f46c63;
  /* border: none; */
  color: #f46c63;
  cursor: pointer;
}

/* Peach Button */
.custom-button2{
  background-color: #f46c63;
  border: none;
  cursor: pointer;

}

.login-button{
  height: 55px;
  border-radius: 50px;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;

}

.action-button{
  height: 55px;
  width: 250px;
  border-radius: 50px;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.action-button2{
  height: 55px;
  width: 100%;
  border-radius: 50px;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}



.nav-link {
  color: white !important;
}

.nav-logo{
  width: 90px;
  margin-left: 40px;
}

/*TABLE STYLES*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  text-align: left;
  padding: 20px;
  padding-left: 80px;
}

/*
tr:nth-child(even) {
  background-color: #f46c63;
}
*/


/* **********************************
* LANDING PAGE  STYLES
************************************/
.flashed-message{
  /* border: 1px solid red; */
  width: 100%;
  text-align: center;
}

.alert{
  text-align: center;
}

.title {
  text-align: center;
  font-size: 60px;
  /* color: #f46c63; */
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row-1-subtitle{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.main-image{
  width: 900px;
  height: auto;
}

.row-info {
  height: 80px;
}

.row-title{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 45px;
  color: #f46c63;
}

.row-subtitle {
  text-align: center;
}

.row1 {
  /* border: 1px solid red; */
  height: 600px;
  display: flex;
  flex-direction: row;
  background-color: #f46c63;
}

.row-1-column-1 {
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.call-to-action-buttons {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  padding: 50px;
}


/* ROW 2 */
.row2{
  /* border: 1px solid red; */
  margin-top: 40px;
  height: 500px;
}

.row-2-content{
  display: flex;
  justify-content: center;
}

.row-2-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 300px;
  width: 400px;
  margin: 20px 10px 0px 10px;
}

.row-2-image {
  width: 130px;
  height: auto;
  margin-bottom: 20px;
}

.row-2-column-description{
  text-align: center;
  width: 300px;
  line-height: 1.4;
}

.row-2-call-to-action{
  display: flex;
  justify-content: center;
}

.row-2-column-title{
  /* color: #445a64; */
  color: #f46c63;
  margin-bottom: 4px;
}


/* ROW 3*/
.row3{
  /* border: 1px solid red; */
  margin-top: 40px;
  height: 600px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 40px 0px 40px 0px;
}

.row-3-title{
  text-align: center;
}

.row-3-content{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.row-3-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid green; */
  /* border-right: 1px solid lightgray; */
  /* border-radius: 20px; */
  height: 100%;
  width: 50%;
  margin: 0px 10px 0px 10px;
}

.row-3-column:first-of-type {
  border-right: 1px solid lightgray;
}

.row-3-image {
  width: 350px;
  height: auto;
  margin-bottom: 20px;
}

.row-3-image2 {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
}

.row-3-column-description{
  text-align: center;
  width: 300px;
  line-height: 1.4;
}

.row-3-call-to-action{
  display: flex;
  justify-content: center;
}

.row-3-column-title{
  /* color: #445a64; */
  color: #f46c63;
  margin-bottom: 4px;
}




/* ROW 4 */
.row4{
  margin-top: 30px;
}

.row4-content {
  display: flex;
  justify-content: centre;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

.map{
  display: flex;
  justify-content: center;
}

iframe{
  width: 90%;
  height: 400px;
}


/***************************
User Dashboard Page
****************************/

.UD_row-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main_image_user_dashboard{
  width: 600px;
  height: 500px;
  padding-left: 100px;
}

.UD_title {
  text-align: center;
  font-size: 60px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.UD_subtitle{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.UD_row1 {
  /* border: 1px solid red; */
  height: 600px;
  display: flex;
  flex-direction: row;
  background-color: #f46c63;
}

.UD_row2{
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.call-to-action-buttons {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  padding: 40px;
}

.user_details{
  margin-top: 50px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title_left{
  text-align: center;
}

.user_details_table{
  width: 50%;
}

.card_details_table{
  width: 80%;
}

.booking_table{
  width: 100%;
}


/***************************
How It Works Page
****************************/

.HW_row2 {
  margin-top: 30px;
}

.HW_row-2-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 200px;
  width: 24%;
  min-width: 200px;
  margin: 0px 10px 0px 10px;
}

.HW_row-3-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 200px;
  width: 20%;
  min-width:323px;
  /*margin: 0px 10px 0px 10px; */
  margin-top: 50px;
  margin-bottom: 100px;
}

.HW_row-3-image {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

/***************************
Admin Dashboard Page
****************************/

.AD_button {
  width: 200px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.AD_row2 {
  margin-top: 30px;
  /* border: 1px solid red; */
}

.AD_row-2-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 100px;
  width: 25%;
  min-width: 200px;
  margin: 10px 10px 10px 10px;
}


.booking-details-container{
  /***************************
  Booking Confirmation Page
  ****************************/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* border: 1px solid #f46c63; */
  /* border: 1px solid green; */
  padding: 30px;
  margin-top: 20px;
}

.booking-successful-title{
  color: green;
  text-align: center;
}

.BC-row1,
.BC-row3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border-radius: 20px;
  border: 1px solid lightgray; */
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.BC-row1-column1,
.BC-row1-column2{
  padding: 0px;
  margin: 0px;
}

.BC-row1-column1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BC-row1-column2{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.normal-status-icon{
  /* border: 1px solid red; */
  border-radius: 20px;
  padding: 3px 10px 3px 10px;
  color: white;
  background-color: #f46c63;
}

.active-status-icon{
  /* border: 1px solid red; */
  border-radius: 20px;
  padding: 3px 10px 3px 10px;
  color: white;
  background-color: #198754;
}

.booking-confirmation-image{
  height: 250px;
}

.BC-row2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  /* border: 1px solid #f46c63; */
  border: 1px solid lightgrey;
  padding: 0px;
  margin: 20px;
  width: max-content;
}

.BC-row2:hover{
  box-shadow: 0px 0px 15px 1px lightgray;
  height: 190px;
  margin: 12px 16px 16px 16px;
}

.duration{
  text-align: center;
  /* border: 1px solid red; */

}


.BC-row2-column1,
.BC-row2-column2{
  padding: 20px 0px 0px 20px;
  margin: 0px;
  width: 270px;
  /* border: 1px solid red; */
}

.time{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: 900;
  /* color: #f46c63; */
  color: green;
  text-align: center;
}


.BC-row3-column1,
.BC-row3-column2{
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.booking-duration,
.email{
  text-align: center;
}

.booking-details{
  margin-bottom: 10px;
}
