{% extends "base.html" %}
{% block content %}
  <h1>Add New Scooter</h1>
  <h2>New Scooter Details</h2>
  <!-- Scooters go here -->
  <form method="post" name="addScooter">
      {{ form.hidden_tag() }}

      <p>
        Availability <br>
        {{ form.availability(class="form-control form-control-lg") }}
      </p>
      <p>
        Location <br>
        {{ form.location_id(class="form-control form-control-lg") }}
      </p>
      <button type="button submit" class="btn btn-success">Add Scooter</button>
  </form>
{% endblock %}
