{% extends "base.html" %}
{% block content %}
  <!-- first row -->
  <div class="row AD_row2">
      <div class="row" style = "white-space: nowrap">
          <h2 class="row-title">Welcome, {{ name }}</h2>
          <p class="row-subtitle py-1">Select one of the options below</p>
      </div>

      <div class="AD_row-2-column col">
          <div class="call-to-action-buttons">
              <a href="/booking1"><button type="button" class="btn btn-primary AD_button">Make A Booking</button></a>
          </div>
      </div>

      <div class="AD_row-2-column col">
          <div class="call-to-action-buttons">
              <a href="/review_feedback"><button type="button" class="btn btn-primary AD_button">Review Feedback</button></a>
          </div>
      </div>

      {% if admin_type == 'manager' %}
          <div class="AD_row-2-column col">
              <div class="call-to-action-buttons">
                  <a href="/view_scooters"><button type="button" class="btn btn-primary AD_button">View Scooters</button></a>
              </div>
          </div>

          <div class="AD_row-2-column col">
              <div class="call-to-action-buttons">
                  <a href="/sales_metrics"><button type="button" class="btn btn-primary AD_button">Sales Metrics</button></a>
              </div>
          </div>

          <div class="AD_row-2-column col">
              <div class="call-to-action-buttons">
                  <a href="/configure_costs"><button type="button" class="btn btn-primary AD_button">Configure Costs</button></a>
              </div>
          </div>
      {% endif %}
  </div>
{% endblock %}
