{% extends "base.html" %}
{% block content %}
  <h2>Booking Made, Happy to Help!</h2>

  <h4>Booking Details</h4>
  <div class="">
    <h5>Date of Booking Start</h5>
    <p>
      {{ booking.initial_date_time }}
    </p>
  </div>

  <div class="">
    <h5>Date of Booking End</h5>
    <p>
      {{ booking.final_date_time }}
    </p>
  </div>

  <div class="">
    <h5>Hire period</h5>
    <p>
      {{ booking.duration }}
    </p>
  </div>

  <div class="">
    <h5>Scooter ID</h5>
    <p>
      SN
      {{ booking.scooter_id }}
    </p>
  </div>

  <div class="">
    <h5>Pick-Up Location</h5>
    <p>
      {{ location }}
    </p>
  </div>

  <div class="">
    <h5>Status</h5>
    <p>
      {{ booking.status }}
    </p>
  </div>

  <div class="">
    <h5>Reference No.</h5>
    <p>
      BN
      {{ booking.id }}
    </p>
  </div>
{% endblock %}
