{% extends "base.html" %}
{% block content %}
  <h1>Make a Booking</h1>

  <h3>
    Location:
  </h3>
  <h5>
    {{ booking_collection_point }}
  </h5>

  <!-- Picture of pickup location -->

  <br>

  <h3>Booking Details</h3>

  <p>
    Scooter ID:
    {{ scooter_id }}
  </p>

  <form action="" method="post" name="adminbookingform">
    <h4>Choose a Period of Hire</h4>
    <p>
      {{ form.hire_period }}
      {% if form.hire_period.errors %}
        {% for error in form.hire_period.error %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
    </p>

    <h4>
      <br>
      Email Address:
    </h4>
    {{ form.email }}
    {% if form.email.errors %}
      {% for error in form.email.error %}
        <span>{{ error }}</span>
      {% endfor %}
    {% endif %}

    <h4>
      <br>
      Card Details
    </h4>

    <h5>Name on Card</h5>
    {{ form.name }}
    {% if form.name.errors %}
      {% for error in form.name.error %}
        <span>{{ error }}</span>
      {% endfor %}
    {% endif %}

    <h5>Card Number</h5>
    {{ form.card_number }}
    {% if form.name.errors %}
      {% for error in form.name.error %}
        <span>{{ error }}</span>
      {% endfor %}
    {% endif %}

    <p>
      <br>
      Valid till
      {{ form.expiry }}
      {% if form.expiry.errors %}
        {% for error in form.expiry.error %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}

      CVV
      {{ form.cvv }}
      {% if form.cvv.errors %}
        {% for error in form.cvv.error %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
    </p>

    <button type="button submit" class="btn btn-success">Confirm Booking</button>
  </form>
{% endblock %}
