{% extends "base.html" %}
{% block content %}
  <h1>Make a Booking</h1>

  <h3>
    Location:
  </h3>
  <h5>
    {{ session.get('collection_location', None) }}
  </h5>

  <!-- Picture of pickup location -->

  <br>

  <h3>Booking Details</h3>

  <p>
    Scooter ID:
    {{ session.get('scooter_id', None) }}
  </p>

  <form action="" method="post" name="adminbookingform">
    {{ form.csrf_token }}
    <h4>Choose a Period of Hire</h4>
    <p>
      {{ form.hire_period }}
      {% if form.hire_period.errors %}
        {% for error in form.hire_period.error %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
    </p>

  <h4>
    <br>
    Email Address:
  </h4>
  <p>
    {{ current_user.email }}
  </p>

  <button type="button submit" class="btn btn-success">Confirm Booking</button>
</form>
{% endblock %}
