{% extends "base2.html" %}
{% block content %}
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8 booking-details-container">
      <h1 class="booking-successful-title">Booking Successful</h4>
      <div class="row BC-row1">
        <div class="col BC-row1-column1">
          <p class="booking-details"><b>Booking Reference: </b>BN000{{booking.id}}</p>
          <p class="booking-details"><b>Pickup Location: </b> {{location}}</p>
          {% if booking.status == 'active' %}
          <p class="booking-details"><b>Booking Status:</b> <span class="active-status-icon">{{booking.status}}</span> </p>
          {% else %}
          <p class="booking-details"><b>Booking Status:</b> <span class="normal-status-icon">{{booking.status}}</span> </p>
          {% endif %}
          <p class="booking-details"><b>Booking Cost: </b> £{{"%0.2f"|format(booking.cost|float) }}</p>
          <p class="booking-details"><b>Scooter ID: </b> SN{{booking.scooter_id}}</p>
          <p class="booking-details"><b>Duration:</b> {{booking.duration}} hour(s)</p>
        </div>
        <div class="col BC-row1-column2">
            <img class="booking-confirmation-image img-fluid" src="{{url_for('static', filename='images/young-man-riding-scooter.png')}}" alt="Booking Confirmation image">
        </div>
      </div>
      <div class="row BC-row2">
        <div class="row" style="display: flex; justify-content: center">
          <div class="col-4 BC-row2-column1">
              <h5 style="color: #f46c63">FROM:</h5>
              <p class="time">{{ booking.initial_date_time.strftime('%d-%m-%Y %H:%M')}}</p>
            </div>
            <div class="col-4 BC-row2-column2">
              <h5 style="color: #f46c63">TO:</h5>
              <p class="time">{{ booking.final_date_time.strftime('%d-%m-%Y %H:%M') }}</p>
            </div>
        </div>
        <div class="duration">
          <h5 style="color: #f46c63">FOR: <span class="time">{{booking.duration}} hour(s)</span></h5>
        </div>

      </div>
        
      <div class="row BC-row3">
        <div class="email">
          <p>We'll send the booking confirmation to: <b style="color: #f46c63">{{email}}</b> 
            <br> 
            {% if isCustomer %} <!-- Show this message to customers only-->
            Check your inbox for an email confirming your booking.
            {% endif %}
           </p>
        </div>
        
        <div class="col BC-row3-column1">
            <!-- Send user back to the correct dashboard-->
            {% if isCustomer %} 
            <a href="/booking1"><button type="button" class="btn btn-success custom-button">Make Another Booking</button></a>
            {% else %}
            <a href="/booking1"><button type="button" class="btn btn-success custom-button">Make Another Booking</button></a>
            {% endif %}
        </div>
        <!-- Onlt show manage bookings button to customers-->
        {% if isCustomer %} 
        <div class="col BC-row3-column2">
          <a href="/profile"><button type="button" class="btn btn-success custom-button">Manage Your Bookings</button></a>
        </div>
        {% endif %}

      </div>
    </div>
    <div class="col-2">
    </div>
</div>
{% endblock %}
