{% extends "base.html" %}
{% block content %}
  <h1>Booking Made, Happy to Help!</h1>

  <h2>Booking Details</h2>
  <div class="">
    <p>Date of Booking Start</p>
    <p>
      {{ booking.initial_date_time }}
    </p>
  </div>

  <div class="">
    <p>Date of Booking End</p>
    <p>
      {{ booking.final_date_time }}
    </p>
  </div>

  <div class="">
    <p>Hire period</p>
    <p>
      {{ booking.hire_period }}
    </p>
  </div>

  <div class="">
    <p>Scooter ID</p>
    <p>
      SN
      {{ booking.scooter_id }}
    </p>
  </div>

  <div class="">
    <p>Pick-Up Location</p>
    <p>
      {{ location }}
    </p>
  </div>

  <div class="">
    <p>Status</p>
    <p>
      {{ booking.status }}
    </p>
  </div>

  <div class="">
    <p>Reference No.</p>
    <p>
      BN
      {{ booking.id }}
    </p>
  </div>
{% endblock %}
