{% extends "base.html" %}
{% block logo %}
  <a class="navbar-brand" href="/admin_dashboard">.sctr</a>
{% endblock %}

{% block navbar %}
  <li class="nav-item"><a class="nav-link" href="/booking1_admin">Make a Booking</a></li>
  <li class="nav-item"><a class="nav-link" href="/review_feedback">Review Feedback</a></li>
  <li class="nav-item"><a class="nav-link" href="/configure_scooters">Configure Scooters</a></li>
  <li class="nav-item"><a class="nav-link" href="/sales_metrics">Sales Metrics</a></li>
  <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
{% endblock %}

{% block content %}
  <h1>Make a Booking</h1>

  <h2>
    Location:
    {{ location }}
  </h2>
  <!-- Picture of pickup location -->

  <h2>Booking Details</h2>
  <p>
    {{ address }}
  </p>
  <p>
    {{ post_code }}
  </p>

  <h2>Scooters</h2>
  <!-- Available scooters as buttons -->

  <h2>Choose a Period of Hire</h2>
  <p>
    {{ form.period }}
  </p>

  <h2>
    Email Address:
    {{ form.email }}
  </h2>

  <h2>Card Details</h2>

  <p>Name on Card</p>
  {{ form.card_name }}

  <p>Card Number</p>
  {{ form.card_number }}

  <p>
    Valid till
    {{ form.card_expire }}
    CVV {{ form.card_cvv }}
  </p>
{% endblock %}
