{% extends "base.html" %}
{% block left_content %}
<!-- For the table of prices -->
<div class="container d-flex flex-column align-items-center" style="margin-top: 25%">
  <div class="mt-5">
    <h4 class="fw-normal text-center">Our Prices!</h4>
  </div>
  {% for hire_period in hire_periods %}
    <div class="" style="width: 50%">
      <h5 class="fw-normal text-nowrap">Hire Period: {{ hire_period.duration }}</h5>
      <p>{{ hire_period.price }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block content %}
<!-- blank margin space -->
<br>

<div class="row d-flex justify-content-center">
  <div class="col-md-auto">
    <!-- row for header -->
    <div class="row p-3">
      <h1 class="fw-normal text-nowrap">Make a Booking</h1>

      <!-- row for form contents -->
      <div class="row p-3">
        <form  method="post" name="bookingform">
          {{ form.csrf_token }}
          {{ form.hidden_tag() }}

          <div class="row pt-3 flex-nowrap">
            <div class="col pe-4">
              <p class="text-nowrap">
                Choose a Collection Point <br>
                {{ form.location_id (style="width:400px; height:50px")}}
              </p>
              <p class="text-nowrap">
                Choose a Scooter <br>
                {{ form.scooter_id (style="width:400px; height:50px")}}
              </p>
              <p class="text-nowrap">
                Select a Hire Period <br>
                {{ form.hire_period (style="width:400px; height:50px")}}
              </p>
              <p class="text-nowrap">
                  Select start date and time (yyyy-mm-dd hours:minutes)<br>
                  {{ form.start_date (style="width:400px; height:50px")}}
              </p>
              <p class="text-nowrap">
                Enter email address <br>
                {{ form.email (style="width:400px; height:50px")}}
              </p>
              <div class="col">
                <button type="button submit"  class="btn btn-success" name="payment_button">Go to Payment</button>
              </div>
            </div>

              <img src="{{ url_for('static', filename='images/Scooter.png') }}" alt="Scooter" style= "position:relative; left:200px; width:450px; height: 370px" class="p-2 img-fluid">
          </div>

          <div class="row pt-3">


          </div>

          <div class="row text-center pt-3">

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  let location_select = document.getElementById('location_id');
  let scooter_select = document.getElementById('scooter_id');

  location_select.onchange = function() {
    location_id = location_select.value;

    fetch('booking1/' + location_id).then(function(response) {
      response.json().then(function(data) {
        let optionHTML = '';
        let count = 0;
        for(let scooter of data.scooters) {
          optionHTML += '<option value = "' + scooter.id + '">' + "Scooter ID: " + scooter.id + '</option>';
          count++;
        }

        if(count == 0) {
          optionHTML = '<option value = "0">No Scooters Available</option>';
        }

        scooter_select.innerHTML = optionHTML;
      });
    });
  }
</script>
{% endblock %}
