{% extends "base.html" %}
{% block content %}
<!-- blank margin space -->
<br>

<div class="row d-flex justify-content-center">
  <div class="col-md-auto">
    <!-- row for header -->
    <div class="row p-3 text-center">
      <h3 class="fw-normal text-nowrap">
        Cancel Your Booking
        <img src="{{ url_for('static', filename='images/cancel_icon.png') }}" alt="cancel_icon" style="width:50px" class="img-fluid">
      </h3>
    </div>

    <!-- row for booking details heading -->
    <div class="row text-center">
      <h5 class="fw-normal text-nowrap">Booking Details</h5>
    </div>

    <!-- row for table contents -->
    <div class="row p-3">
      <table>
        <tr>
          <th>Date of Booking</th>
          <th>Duration</th>
          <th>Scooter ID</th>
          <th>PickUp location</th>
          <th>Status</th>
          <th>Reference No.</th>
        </tr>

        <tr>
            <td class="align-middle text-center text-nowrap">{{ booking.initial_date_time }}</td>
            <td class="align-middle text-center text-nowrap">{{booking.duration}}</td>
            <td class="align-middle text-center text-nowrap">SN{{booking.scooter_id}}</td>
            <td class="align-middle text-center text-nowrap">{{collection_points.query.filter_by(id = booking.collection_id).first().location}}</td>  <!-- show booking location-->
            <td class="align-middle text-center text-nowrap">{{booking.status}}</td>
            <td class="align-middle text-center text-nowrap">BN000{{booking.id}}</td>
        </tr>
      </table>
    </div>

    <!-- row -->
    <div class="row p-3 text-center">
      <h5 class="fw-normal text-nowrap">Are you sure you want to cancel your booking?</h5>
    </div>

    <div class="row text-center pt-3">
      <div class="col text-end">
        <a href="/profile"><button type="button submit" class="btn btn-primary">Return to Profile</button></a>
      </div>

      <div class="col text-start">
        <form action="" method="post" name="cancelbookingform">
          <button type="button submit" class="btn btn-danger">Cancel Booking</button>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}
