{% extends "base.html" %}
{% block content %}
  <h1>Cancel Your Booking</h1>

  <h2>Booking Details</h2>
  <table>
    <tr>
      <th>Date of Booking</th>
      <th>Duration</th>
      <th>Scooter ID</th>
      <th>PickUp location</th>
      <th>Status</th>
      <th>Reference No.</th>
    </tr>

    <tr>
        <td>{{ booking.initial_date_time }}</td>
        <td>{{booking.duration}}</td>
        <td>SN{{booking.scooter_id}}</td>
        <td>{{collection_points.query.filter_by(id = booking.collection_id).first().location}}</td>  <!-- show booking location-->
        <td>{{booking.status}}</td>
        <td>BN000{{booking.id}}</td>
    </tr>
  </table>

  <br>

  <h2>Are you sure you want to cancel your booking?</h2>

  <div class="row">

    <form action="" method="post" name="cancelbookingform">
      <button type="button submit" class="btn btn-danger">Confirm Booking Cancellation</button>
    </form>

  </div>
{% endblock %}
