{% extends "base.html" %}
{% block content %}
  <h1>Card</h1>

  {% if card_found %}
  <div>
      {% for p in data %}
        <div>
          <p> <strong>User ID:</strong> {{p.user_id}} | <strong>Card Number:</strong> ({{ p.cardnumber[12:] }} ) | <strong>Expiry Date:</strong>{{ p.expiry_date }} | <strong>CVV:</strong>{{ p.cvv }}</p>
        </div>
        <div>
            <p>Card Details: {{ p.cardnumber}}</p>
            <p> Expiry: {{ p.expiry_date }} </p>
        </div>
      {% endfor %}
      
  </div>
  {% else %}
  <form action="" method="post" name="unsavedbookingform">
      {{ form.hidden_tag() }}
      <p>
        Name on card <br>
        {{ form.name }}
        {% if form.name.errors %}
        {% for error in form.name.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
      </p>
      <p>
        Card Number <br>
        {{ form.card_number }}
        {% if form.card_number.errors %}
        {% for error in form.card_number.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
      </p>
      <p>
        Expiry Date (mm-yyyy) <br>
        {{ form.expiry }}
        {% if form.expiry.errors %}
        {% for error in form.expiry.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
      </p>
      <p>
        cvv <br>
        {{ form.cvv }}
        {% if form.cvv.errors %}
        {% for error in form.cvv.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
      </p>
      <p>
        Save Card Details
        {{ form.save_card_details }}
      </p>
      <p><input type="submit" value="Save"></p>
  </form>
  {% endif %}

  <div>
    {% for p in data %}
      <div>
        <p> <strong>User ID:</strong> {{p.user_id}} | <strong>Card Number:</strong> ({{ p.cardnumber[12:] }} ) | <strong>Expiry Date:</strong>{{ p.expiry_date }} | <strong>CVV:</strong>{{ p.cvv }}</p>
      </div>
      <div>
          <p>{{p.name}}({{ p.cardnumber[12:]}}) | Expiry: {{ p.expiry_date.month }}/{{p.expiry_date.year }}</p>
      </div>
    {% endfor %}
    
</div>

{% endblock %}

<!-- CHANGES TO MAKE TO MAKE CARD WORK -->
<!-- 
    - CHANGE THE CVV INTEGER FIELD INTO A STRING
    - CHANGE THE CVV INTEGER FIELD INTO A STRING
    - Added Validators for Cvv and card number unsaved booking form


                # flash('Succesfully received form data. %s %s %s'%(form.card_number.data, form.name.data, form.expiry.data))

            # get first instance of user in db
            # u = models.user.query.filter_by(email = form.email.data).first()

            # # check username and password
            # if u and bcrypt.check_password_hash(u.password, form.password.data):
            #     login_user(u)
            #     flash('Login Successful!', 'success')
            #     return redirect(url_for('user_dashboard'))
            # else:
            #     flash(f'Login unsuccessful. Please check email and password', 'error')
 -->