{% extends "base.html" %}
{% block left_content %}
<h3>Configure Scooter Availability</h3>

  <form action="" method="post" name="configurescootersform">
    <h4>Change Scooter Details for: {{ session['confg_sctr_id'] }}</h4>
    <p>Availability:
    {{ form.csrf_token }}

      {{ form.availability }}
      {% if form.availability.errors %}
        {% for error in form.availability.error %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
    </p>

    <p>
      Location: {{ form.location_id }}
      {% if form.location_id.errors %}
        {% for error in form.location_id.error %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
    </p>
    <!-- <h4>Choose a Period of Hire</h4> -->


  <h4>
  </h4>
  <p>
  </p>

  <button type="button submit" class="btn btn-success" name="cancel">Cancel</button>
  <button type="button submit" class="btn btn-success">Confirm Changes</button>
</form>
  <!-- Scooters go here -->
{% endblock %}
