{% extends "base.html" %}
{% block content %}
<!-- blank margin space -->
<br>

<div class="row d-flex justify-content-center">
  <div class="col">
    <form action="" method="post" name="configurescootersform">
      {{ form.csrf_token }}
      <!-- row for header -->
      <div class="row p-3 text-center">
        <h3 class="fw-normal text-nowrap">Configure Scooter Availability</h3>
      </div>

      <!-- row for displaying scooter ID -->
      <div class="row p-3 text-center">
        <h5 class="fw-normal text-nowrap">Change Scooter Details for Scooter ID: <strong>{{ session['confg_sctr_id'] }}</strong></h5>
      </div>

      <!-- row for form contents -->
      <div class="row p-3">

        <!-- row for availability -->
        <div class="row p-2 flex-nowrap">
          <div class="col text-end">
            <p>Availability:</p>
          </div>

          <div class="col">
            <p>
              {{ form.availability(class="form-control form-control-lg form-select") }}
              {% if form.availability.errors %}
                {% for error in form.availability.error %}
                  <span>{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
          </div>
        </div>

        <!-- row for location -->
        <div class="row p-2 flex-nowrap">
          <div class="col text-end">
            <p>Location:</p>
          </div>

          <div class="col">
            <p>
              {{ form.location_id(class="form-control form-control-lg form-select") }}
              {% if form.location_id.errors %}
                {% for error in form.location_id.error %}
                  <span>{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
          </div>
        </div>

        <!-- row for buttons -->
        <div class="row p-2 flex-nowrap">
          <div class="col text-end">
            <a href="/view_scooters"><button type="button" class="btn btn-danger mt-3 action-button" name="cancel">Cancel Changes</button></a>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary mt-3 action-button">Confirm Changes</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
{% endblock %}
