{% extends "base.html" %}
{% block content %}
  <h2>Configure Scooter Costs</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Duration</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    {% for rec in rec %}
    <tr><th scope="row">{{rec.id}}</th>

      <td>
        {{rec.duration}}
      </td>

      <td>
          {{ rec.price }}
      </td>

    </tr>
    {% endfor %}
  </table>
  <form action="" method="post" name="configureCosts">
        {{ form.hidden_tag() }}

        <p>
          Select Duration <br>
          {{ form.duration(class="form-control form-control-lg") }}
        </p>
        <p>
          Select Price <br>
          {{ form.price(class="form-control form-control-lg") }}
        </p>
        <button type="button submit" class="btn btn-success action-button2">Change price</button>
    </form>



{% endblock %}
