{% extends "base.html" %}
{% block content %}
<!-- blank margin space -->
<br>

<div class="row d-flex justify-content-center">
  <div class="col-md-auto">
    <!-- row for header -->
    <div class="row p-3">
      <h3 class="fw-normal text-nowrap">Feedback Details</h3>
    </div>


    <form action="" method="post" name="editfeedbackform">
      {{ form.csrf_token }}
      <!-- row for table contents -->
      <div class="row p-3">
        <table id="feedback" class="table" style="table-layout:fixed;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Message</th>
              <th>Toggle Priority</th>
              <th>Resolve</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="align-middle">{{ rec.id }}</th>
              <td class="align-middle">{{ rec.message }}</td>
              <td class="align-middle text-center">{{ form.priority(class="form-control-lg") }}</td>
              <td class="align-middle text-center">{{ form.resolve(class="form-control-lg") }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- submit button -->
      <div class="row text-center">
        <div class="col">
          <button type="button submit" class="btn btn-success mt-3" value="Submit">Confirm Changes</button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
