{% extends "base.html" %}
{% block content %}
  <h1>Extend Your Booking</h1>

  <h2>Booking Details</h2>
  <div class="">
    <p>Date of Booking</p>
    <p>
      {{ booking.date }}
    </p>
  </div>

  <div class="">
    <p>Booking Duration</p>
    <p>
      {{ booking.duration }}
    </p>
  </div>

  <div class="">
    <p>Scooter ID</p>
    <p>
      SN
      {{ booking.scooterid }}
    </p>
  </div>

  <div class="">
    <p>Pick-Up Location</p>
    <p>
      {{ booking.location }}
    </p>
  </div>

  <div class="">
    <p>Status</p>
    <p>
      {{ booking.status }}
    </p>
  </div>

  <div class="">
    <p>Reference No.</p>
    <p>
      BN
      {{ booking.id }}
    </p>
  </div>

  <br>

  <h2>Choose a Period of Hire</h2>
  <p>
    {{ form.period }}
  </p>

  <button type="button" class="btn btn-success">Confirm Extension</button>
{% endblock %}
