{% extends "base2.html" %}
{% block content %}
    <!-- first row -->
    <div class="row row1">
        <!-- m -->
        <div style="padding: 0px">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
        <div class="col-5" >
            <div class="row-1-column-1">
                    <div>
                        <h1 class="title">Reimagine comfort</h1>
                        <p class="row-1-subtitle">...as far your wheels can take you</p>
                    </div>
                    <div class="call-to-action-buttons">
                        <a href="/register"><button type="button" class="btn btn-primary custom-button">Sign Up</button></a>
                        <a href="/login"><button type="button" class="btn btn-primary custom-button">Log In</button></a>
                    </div>
                    </div>
        </div>
        <div class="col-7">
            <div>
                <img class="main-image img-fluid float-right" src="{{url_for('static', filename='images/happy-smiling-man.png')}}" alt="Main-image">
            </div>
        </div>
    </div>

    <!-- second row -->
    <div class="row row2">
        <div class="row-info">
            <h2 class="row-title">How .sctr works</h2>
            <p class="row-subtitle">Create your account online and you'll immediately be able to from our fleet of scooters all over Leeds. </p>
        </div>

        <div class="col-2">
        </div>

        <div class="col-8 row-2-content" >
                <div class="row-2-column">
                        <div>
                            <img class="row-2-image" src="{{url_for('static', filename='images/booking-app.png')}}" alt="Splash">
                        </div>
                        <h4 class="row-2-column-title">Join in minutes</h4>
                        <p class="row-2-column-description"> Create an account online and you'll be ready to immediately start booking a .sctr</p>
                </div>
                <div class="row-2-column">
                        <div>
                            <img class="row-2-image" src="{{url_for('static', filename='images/booking.png')}}" alt="Splash">
                        </div>
                        <h4 class="row-2-column-title">Book a scooter</h4>
                        <p class="row-2-column-description">Book a .sctr any time of the day and we'll make sure its ready for your trip.</p>
                    
                </div> 
                <div class="row-2-column">
    
                    <div>
                        <img class="row-2-image img-fluid" src="{{url_for('static', filename='images/range.png')}}" alt="Splash">
                    </div>
                    <h4 class="row-2-column-title">Ride off into the sunset</h4>
                    <p class="row-2-column-description">...just make sure you bring back your scooter before your hire period is over.</h5>
                </div>
        </div>
        <div class="col-2">
        </div>
        <!-- Find out more buttons -->
        <div class="row-2-call-to-action">
            <a href="/info"><button type="button" class="btn btn-primary custom-button custom-button2">Find out more</button></a>
        </div>
    </div>
        
    <!-- third row -->
    <div class="row row3">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row3-content">
                    <div>
                        <h2 class="row-title">Where are we?</h2>
                    </div>
                    <div>
                        <p class="row-subtitle">Whether you're running late to lectures or your window shopping in the city center. We've got you covered. 
                            <br> Use the map below to find our locations. </p>
                        <p class="row-subtitle"> </p>
                    </div>
                    <div class="map">
                        <!-- MAP HERE -->
                        <iframe src="https://www.google.com/maps/d/embed?mid=1KtDebi-rELyFWD2SYbJ_qJXrftcFUD9A&hl=en&ehbc=2E312F"></iframe>
                    </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <br><br>
    <br><br>


  </div>
{% endblock %}
