{% extends "base.html" %}
{% block logo %}
<a class="navbar-brand" href="/user_dashboard">.sctr</a>
{% endblock %}

{% block navbar %}
  <li class="nav-item"><a class="nav-link" href="/booking1_user">Make a Booking</a></li>
  <li class="nav-item"><a class="nav-link" href="/locations">Locations</a></li>
  <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
  <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
  <li class="nav-item"><a class="nav-link" href="/send_feedback">Send Feedback</a></li>
  <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
{% endblock %}

{% block content %}
  <h1>Pricing</h1>
  <div class="row">

      <div class="col align-items-center">
        <h3>1 Hour</h3>
        <p>£10</p>
      </div>

      <div class="col align-items-center">
        <h3>4 Hours</h3>
        <p>£39</p>
      </div>

      <div class="col align-items-center">
        <h3>1 Day</h3>
        <p>£109</p>
      </div>

      <div class="col align-items-center">
        <h3>1 Week</h3>
        <p>£399</p>
      </div>

    </div>

{% endblock %}
