{% extends "base.html" %}
{% block content %}
  <h1>Pricing</h1>
  <div class="row">

      <div class="col align-items-center">
        <h3>1 Hour</h3>
        <p>£10</p>
      </div>

      <div class="col align-items-center">
        <h3>4 Hours</h3>
        <p>£39</p>
      </div>

      <div class="col align-items-center">
        <h3>1 Day</h3>
        <p>£109</p>
      </div>

      <div class="col align-items-center">
        <h3>1 Week</h3>
        <p>£399</p>
      </div>

    </div>

{% endblock %}
