{% extends "base.html" %}
{% block content %}


<!-- HELLO, USER -->
<div class="user_details">
  <h1>
    Hiii,
    {{ name }}!!
  </h1>
</div>

  <br><br>

<!-- USER DETAILS -->
  <body>
  <div class="title_left">
    <h3>
      User Details
    </h3>
  </div>

  <div class="user_details_table">
    <table>
        <tr>
          <th>Email</th>
          <th>User Type</th>
        </tr>

        <tr>
          <td>{{email}}</td>
          <td>{{account_type}}</td>
        </tr>
    </table>
  </div>

  <br><br>

<!-- CARD DETAILS -->

  <div class="title_left">
    <h3>Card Details</h3>
  </div> 

  <div class="card_details_table">
  {% if cards.name != NULL %}
    <table>
          <tr>
            <th>Name on Card</th>
            <th>Card Number</th>
            <th>cvv</th>
          </tr>

            <tr>
              <td>{{cards.name}}</td>
              <td>XXXX XXXX XXXX {{cards.last_four}} </td>
              <td>XXX</td> 
            </tr>

            <tr>
                <td><a href="/delete/{{cards.id}}"><input type="submit" class="btn btn-primary method="POST"" value="Delete card"></a></td>
            </tr>
    </table>
  </div>
  {% endif %}

  
  <!-- BOOKING DETAILS -->
  <br><br>

  <div class="title_left">
    <h3>Booking History</h3>
  </div>

  <div class="booking_table"></div>
  <table>
      <tr>
        <th>Date of Booking</th>
        <th>Duration</th>
        <th>Scooter ID</th>
        <th>PickUp location</th>
        <th>Status</th>
        <th>Reference No.</th>
      </tr>


      {% for b in booking %}
        <tr>
            <td>{{ b.initial_date_time }}</td>
            <td>{{b.duration}} hour(s)</td>
            <td>SN{{b.scooter_id}}</td>
            {% for loc in location%}
              {% if b.collection_id == loc.id%}
                <td> {{loc.location}} </td>  <!-- show booking location-->
              {% endif %}
            {% endfor %}

            <td>{{b.status}}</td>
            <td>BN000{{b.id}}</td>

            {% if b.status == "active" %} <!-- if booking is ACTIVE then show extend-->
            <td>
              <a href="/extend_this_booking/{{ b.id }}">
                <button type="button submit"  class="btn btn-success" name="extend_button">Extend</button>
              </a>
            </td>
            {% endif %}
            
            {% if b.status == "upcoming" %} <!-- if booking is UPCOMING then show cancel-->
            <td>
              <a href="/cancel_this_booking/{{ b.id }}">
                <button type="button submit"  class="btn btn-danger" name="cancel_button">Cancel</button>
              </a>
            </td>
            {% endif %}
            
          </tr>
      {% endfor %}
  </table>
  </div>
  <br>


  <a href="/send_feedback"><input type="submit" class="btn btn-primary" value="Submit Feedback"></a></td>

</body>

{% endblock %}
