{% extends "base.html" %}
{% block content %}

  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>

  <h1>
    Hi,
    {{ name }}!!
  </h1>

  <br><br>

  <body>
  <h3>
    User Details
  </h3>

  <table>
      <tr>
        <th>Email</th>
        <th>User Type</th>
      </tr>

      <tr>
        <td>{{email}}</td>
        <td>{{account_type}}</td>
      </tr>

  </table>

  <br><br>

  
  <h3>Card Details</h3>

  <table>
     
        <tr>
          <th>Name on Card</th>
          <th>Card Number</th>
          <th>cvv</th>
        </tr>

          <tr>
            <td>{{cards.name}}</td>
            <td>{{cards.cardnumber}}</td>
            <td>XXX</td> <!--ONly if a card exits-->
          </tr>

          <tr>
            <td><input type="submit" class="btn btn-primary" method="POST" value="Delete card"></a></td>
          </tr>

  </table>

  <br><br>

  <h3>Booking History</h3>
  
  <table>
      
      <tr>
        <th>Date of Booking</th>
        <th>Duration</th>
        <th>Scooter ID</th>
        <th>PickUp location</th>
        <th>Status</th>
        <th>Reference No.</th>
      </tr>


      {% for b in booking %}
        <tr>
            <td>{{ b.initial_date_time }}</td>
            <td>{{b.duration}}</td>
            <td>SN{{b.scooter_id}}</td>
            <td> location </td>  <!-- show booking location-->
            <td>{{b.status}}</td>
            <td>BN000{{b.id}}</td>

            <!-- if booking is ACTIVE then show extend-->
            <td><a href="/extend_booking"><input type="submit" class="btn btn-primary" value="O"></a></td>
            <!-- if booking is UPCOMING then show cancel-->
            <td><a href="/cancel_booking"><input type="submit" class="btn btn-primary" value="x"></a></td>
        
          </tr>
      {% endfor %}

  </table>
  <br>

  
  <a href="/send_feedback"><input type="submit" class="btn btn-primary" value="Submit Feedback"></a></td>
  
</body>
  
{% endblock %}
