{% extends "base.html" %}
{% block content %}

  <br><br>

<!-- HELLO, USER -->
  <div class="title_left">
    <h1>
      Hi,
      {{ name }}!
    </h1>
  </div>

  <br><br>

<!-- USER DETAILS -->
  <body>
    <h3>
      User Details
    </h3>
    
    <div class="user_details_table">
      <table>
          <tr>
            <th>Email</th>
            <th>Type</th>
          </tr>

          <tr>
            <td>{{email}}</td>
            <td>{{account_type}}</td>
          </tr>
      </table>
    </div>

  <br><br>

<!-- CARD DETAILS -->

  <h3>Card Details</h3>

  {% if cards.name != NULL %}
  <div class="card_details_table">
    <table>
          <tr>
            <th>Name </th>
            <th>CardNumber</th>
            <th>cvv</th>
            <th></th>
          </tr>

            <tr>
              <td>{{cards.name}}</td>
              <td>XXXX XXXX XXXX {{cards.last_four}} </td>
              <td>XXX</td> 
              <td><a href="/delete/{{cards.id}}"><input type="button submit"  class="btn btn-danger" method="POST" value="Delete card"></a></td>
            </tr>
    </table>
  </div>

  {% else %}
  <p>no card saved</p>
  {% endif %}

  
  <!-- BOOKING DETAILS -->
  <br><br>

  <h3>Booking History</h3>

  {% if booking.first() == None %}

  <p>no booking found :(</p>

  {% else %}
  <div class="table-responsive">
    <table>
      <tr>
        <th>Date of Booking</th>
        <th>Duration</th>
        <th>Scooter ID</th>
        <th>PickUp location</th>
        <th>Status</th>
        <th>Reference No.</th>
        <th></th>
      </tr>


      {% for b in booking %}
        <tr>
            <td>{{ b.initial_date_time }}</td>
            <td>{{b.duration}} hour(s)</td>
            <td>SN{{b.scooter_id}}</td>
            {% for loc in location%}
              {% if b.collection_id == loc.id%}
                <td> {{loc.location}} </td>  <!-- show booking location-->
              {% endif %}
            {% endfor %}

            <td>{{b.status}}</td>
            <td>BN000{{b.id}}</td>

            <td>
              {% if b.status == "active" %} <!-- if booking is ACTIVE then show extend-->      
                  <a href="/extend_this_booking/{{ b.id }}">
                    <button type="button submit"  class="btn btn-success" name="extend_button">Extend</button>
                  </a>
              {% endif %}

              {% if b.status == "upcoming" %} <!-- if booking is UPCOMING then show cancel-->
                  <a href="/cancel_this_booking/{{ b.id }}">
                    <button type="button submit"  class="btn btn-danger" name="cancel_button">Cancel</button>
                  </a>
              {% endif %}
            </td>
          </tr>
      {% endfor %}
    </table>
  </div>
    <br><br>
    <a href="/send_feedback"><input type="submit" class="btn btn-primary custom-button2" value="Submit Feedback"></a>
      

  {% endif %}

  <br><br><br><br>

</body>

{% endblock %}
