{% extends "base.html" %}
{% block content %}
  <h1>Register</h1>
  <form action="" method="post" name="registerform">
      {{ form.hidden_tag() }}
      <p>
        Name <br>
        {{ form.name }}
      </p>
      <p>
        Email <br>
        {{ form.email }}
      </p>
      <p>
        Password <br>
        {{ form.password1 }}
      </p>
      <p>
        Re-enter Password <br>
        {{ form.password2 }}
      </p>
      <p><input type="submit" value="Register"></p>
  </form>


<!--display defined Form errors when input is wrong reasons other than being blank. A blank input is never accepted-->
  {% for error in form.email.errors%}
  <script>  alert("{{  error  }}") </script>
  {% endfor %}

  {% for error in form.password2.errors%}
  <script>  alert("{{  error  }}") </script>
  {% endfor %}

  {% for error in form.name.errors%}
  <script>  alert("{{  error  }}") </script>
  {% endfor %}
{% endblock %}
