{% extends "base.html" %}
{% block logo %}
  <a class="navbar-brand" href="/admin_dashboard">.sctr</a>
{% endblock %}

{% block navbar %}
  <li class="nav-item"><a class="nav-link" href="/booking1_admin">Make a Booking</a></li>
  <li class="nav-item"><a class="nav-link" href="/review_feedback">Review Feedback</a></li>
  <li class="nav-item"><a class="nav-link" href="/configure_scooters">Configure Scooters</a></li>
  <li class="nav-item"><a class="nav-link" href="/sales_metrics">Sales Metrics</a></li>
  <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
{% endblock %}

{% block content %}
  <h1>Feedback Reports</h1>
  <h2>Report Details</h2>

  <!-- Feedback goes here -->
  <div class="row">
    <div class="col align-items-center">
      <p>Date Received</p>

    </div>

    <div class="col align-items-center">
      <p>Content</p>

    </div>

    <div class="col align-items-center">
      <p>Current Priority</p>

    </div>

    <div class="col align-items-center">
      
    </div>
  </div>
{% endblock %}
