{% extends "base.html" %}
{% block content %}
  <h1>Sales Metrics</h1>

  <h2>Weekly income for hire lengths</h2>
  <p>Week start: {{week_start.date()}}</p>
  <p>Week end: {{week_end.date()}}</p>
  <p>One hour metric: £{{one_hour_metric}}</p>
  <p>Four hours metric: £{{four_hour_metric}}</p>
  <p>24 hours metric: £{{one_day_metric}}</p>
  <p>One week metric: £{{one_week_metric}}</p>
 
  <h2>Combined Daily Income</h2>
  <p>Week start: {{week_start.date()}}</p>
  <p>Week end: {{week_end.date()}}</p>
  <p>Monday Metrics: £{{monday_metrics}}</p>
  <p>Tuesday Metrics: £{{tuesday_metrics}}</p>
  <p>Wednesday metric: £{{wednesday_metrics}}</p>
  <p>Thursday metric: £{{thursday_metrics}}</p>
  <p>Friday metric: £{{friday_metrics}}</p>
  <p>Saturday metric: £{{saturday_metrics}}</p>
  <p>Sunday metric: £{{sunday_metrics}}</p>

  <!-- Weekly stats go here -->

  <h2>Popular transactions</h2>
  <p>Discounted transactions: {{discounted_transactions}}</p>
  <p>Normal transactions: {{normal_transactions}}</p>


{% endblock %}
