{% extends "base_sales.html" %}
{% block content %}
<!-- blank margin space -->
<br>

<div class="row d-flex justify-content-center">
  <div class="col-md-auto">
    <!-- row for header -->
    <div class="row p-3">
      <h3 class="fw-normal">Send Feedback</h3>
    </div>

    <!-- row for displaying feedback details -->
    <div class="row p-3 text-center">
      <h5 class="fw-normal">Please provide feedback or describe the issue in the box below</h5>
    </div>

    <form action="" method="post" name="feedbackform">
      {{ form.csrf_token }}
      <!-- row for table contents -->
      <div class="row p-3">

          <!-- <div class="border border-warning"> -->
            {{ form.feedback(class="container-fluid form-control form-control-lg", rows="5") }}

          <!-- </div> -->
          <!-- {{ form.feedback(cols="72", rows="5") }} -->

      </div>

      <!-- submit button -->
      <div class="row">
        <div class="col-6">
          <button type="button submit" class="btn btn-danger mt-3" value="Submit">Cancel</button>
        </div>
        <div class="col-6 text-end">
          <button type="button submit" class="btn btn-success mt-3" value="Submit">Submit Feedback</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
