{% extends "base2.html" %}
{% block content %}
<!-- blank margin space -->
<br>

<div class="row d-flex justify-content-center">
  <div class="col-md-auto">
    <!-- row for header -->
    <div class="row">
      <h1>Send Feedback</h1>
    </div>

    <!-- row for displaying feedback details -->
    <div class="row pt-3 text-center">
      <h5 class="fw-normal">Please provide feedback or describe the issue in the box below</h5>
    </div>

    <form action="" method="post" name="feedbackform">
      {{ form.csrf_token }}
      <!-- row for table contents -->
      <div class="row p-3">

          <!-- <div class="border border-warning"> -->
            {{ form.feedback(class="container-fluid form-control form-control-lg", rows="5") }}
            {% if form.feedback.errors %}
              {% for error in form.feedback.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            {% endif %}

          <!-- </div> -->
          <!-- {{ form.feedback(cols="72", rows="5") }} -->

      </div>

      <!-- submit button -->
      <div class="row">
        <div class="col text-end">
          <button type="button submit" class="btn btn-success mt-3 action-button2" value="Submit">Submit Feedback</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
