{% extends "base2.html" %}
{% block content %}
    <!-- first row -->
    <div class="row UD_row1">
      <!-- m -->
      <div style="padding: 0px">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
      </div>

      <div class="col-5" >
          <div class="UD_row-1">
                  <div>
                      <h1 class="UD_subtitle">Welcome, {{name}}</h1>
                      <h1 class="UD_title">Want to book a scooter?</h1>
                  </div>
                  <div class="call-to-action-buttons">
                    <a href="/booking1"><button type="button" class="btn btn-primary custom-button">Book</button></a>
                  </div>
                  </div>
      </div>
      <div class="col-7">
          <div>
              <img class="main-image img-fluid float-right" src="{{url_for('static', filename='images/happy-smiling-man.png')}}" alt="Main-image">
          </div>
      </div>
    </div>

    <!-- second row -->
    <div class="row UD_row1">
      <!-- m -->
      <div class="col-7">
        <div>
          <img class="main_image_user_dashboard" src="{{url_for('static', filename='images/booking-app.png')}}" alt="Splash">
        </div>
      </div>

      <div class="col-5" >
          <div class="UD_row2">
                  <div>
                      <h1 class="UD_title">View Profile</h1>
                  </div>
                  <div class="call-to-action-buttons">
                    <a href="/profile"><button type="button" class="btn btn-primary custom-button">View Profile</button></a>
                  </div>
                  </div>
      </div>
    </div>


  <br><br>

  <h3>Upcoming Bookings</h3>

  <table>

      <tr>
        <th>Date of Booking</th>
        <th>Duration</th>
        <th>Scooter ID</th>
        <th>PickUp location</th>
        <th>Status</th>
        <th>Reference No.</th>
      </tr>


      {% for b in booking %}
        <tr>
            <td>{{ b.initial_date_time }}</td>
            <td>{{b.duration}}</td>
            <td>SN{{b.scooter_id}}</td>

            {% for loc in location%}
              {% if b.collection_id == loc.id%}
                <td> {{loc.location}} </td>  <!-- show booking location-->
              {% endif %}
            {% endfor %}

            <td>{{b.status}}</td>
            <td>BN000{{b.id}}</td>

            {% if b.status == "active" %} <!-- if booking is ACTIVE then show extend-->
            <td><a href="/extend_booking"><input type="submit" class="btn btn-primary" value="O"></a></td>
            {% endif %}
            
            {% if b.status == "upcoming" %} <!-- if booking is UPCOMING then show cancel-->
            <td><a href="/cancel_booking"><input type="submit" class="btn btn-primary" value="x"></a></td>
            {% endif %}

          </tr>
      {% endfor %}

  </table>

  <br><br><br><br>

{% endblock %}











