{% block content %}
  <h1>Login</h1>
  <form action="" method="post" name="loginform">
      {{ form.hidden_tag() }}
      <p>
        Email <br>
        {{ form.email }}
        {% if form.email.errors %}
        {% for error in form.email.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
      </p>
      <p>
        Password <br>
        {{ form.password }}
        {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
      </p>
      <p>
        Remember details
        {{ form.remember }}
      </p>
      <p><input type="submit" value="Login"></p>
  </form>
{% endblock %}
