{% extends "base.html" %}
{% block content %}
<!-- blank margin space -->
<br>

<div class="row d-flex justify-content-center">
  <div class="col-md-auto">
    <!-- row for header -->
    <div class="row p-3">
      <h3 class="fw-normal text-nowrap">View Scooter Details and Availability</h3>
    </div>

    <!-- row for scooter details header -->
    <div class="row p-3 text-center">
      <h5 class="fw-normal text-nowrap">Scooter Details</h5>
    </div>

    <!-- row for form contents -->
    <div class="row py-3">
      <form method="post" name="configurescootersform">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Availability</th>
              <th scope="col">Current Location</th>
              <th scope="col"></th>
            </tr>
          </thead>
          {% for rec in rec %}

          <tr>
            <th scope="row" class="align-middle">
              {{rec.id}}
            </th>

            <td class="align-middle">
              {% if rec.availability == 1 %}
                Available
              {% endif %}

              {% if rec.availability == 2 %}
                Unavailable
              {% endif %}
            </td>

            <td class="align-middle">
              {% if rec.collection_id == 1%}
                Trinity Centre
              {% endif%}

              {% if rec.collection_id == 2%}
                Train Station
              {% endif%}

              {% if rec.collection_id == 3%}
                Merrion Centre
              {% endif%}

              {% if rec.collection_id == 4%}
                LRI Hospital
              {% endif%}

              {% if rec.collection_id == 5%}
                UoL Edge Sports Centre
              {% endif%}
            </td>

            <td>
              <!-- <p type="hidden"> </p> -->
              <button type="submit"  class="btn btn-success" name="edit_button"  value="{{ rec.id }}" style="border-radius:50px; width: 100px">Edit</button>
              <!-- <button type="button submit" class="btn btn-success">Submit</button> -->

            </td>

          </tr>
          {% endfor %}
        </table>
      </form>

      <a href="/add_scooter" class="btn btn-primary">Add New Scooter</a>
    </div>
  </div>
</div>
{% endblock %}
